{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "semi": ["error", "never"],
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "no-trailing-spaces": 2,
    "prefer-spread": 0,
    "no-prototype-builtins": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-explicit-any": 0
  },
  "ignorePatterns": ["dist"]
}
